<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507123618012-sh4j01u7b1h12kutqkm4egdph2arri6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507123618012-sh4j01u7b1h12kutqkm4egdph2arri6o</string>
	<key>API_KEY</key>
	<string>AIzaSyCIVGEypwp_jt3gVBy_AUdKF4dyK7S2ndg</string>
	<key>GCM_SENDER_ID</key>
	<string>507123618012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>l-ikun</string>
	<key>STORAGE_BUCKET</key>
	<string>l-ikun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507123618012:ios:f9902894e2d7f6f6df6419</string>
</dict>
</plist>